.navbar {
  background: #000; }
  .navbar .nav-item {
    padding-left: 1em; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase; }

.carousel-item {
  height: 450px; }

.crsl-img-1 {
  background: url(../img/slider-bg-1.jpg);
  background-size: cover; }

.crsl-img-2 {
  background: url(../img/image1.jpeg);
  background-size: cover;
  background-position-y: center; }

.crsl-img-3 {
  background: url(../img/slider-bg-3.jpeg);
  background-size: cover; }

#homeicon .fa {
  font-size: 50px; }

#getstarted {
  background: url(../img/get-started.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  min-height: 300px; }
  #getstarted .overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

#homeicon .fa {
  transition: .4s; }

#homeicon .homeIcon1:hover .fa {
  color: #E0A800; }

#homeicon .homeIcon2:hover .fa {
  color: #2e8ccf; }

#homeicon .homeIcon3:hover .fa {
  color: #36A745; }

#home-video {
  background: url(../img/people.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  min-height: 260px; }
  #home-video .overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
    #home-video .overlay .fa {
      font-size: 50px;
      color: #ff0000; }

#gallery img {
  min-height: 250px; }

#copyright {
  background: #000; }

#aboutHeader {
  background: url("../img/image3.jpeg");
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  min-height: 190px;
  background-attachment: fixed; }

#aboutInfo img {
  width: 60%; }

#iconBox .card {
  transition: .3s; }
  #iconBox .card .fa {
    font-size: 50px;
    margin-bottom: 20px; }

#iconBox .card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 20px -5px #000; }

#testimonial .slick-prev:before {
  color: #000; }

#testimonial .slick-next:before {
  color: #000; }

#servicesHeader {
  background: url("../img/image2.jpeg");
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  min-height: 190px;
  background-attachment: fixed; }

@media (max-width: 480px) {
  .carousel h2 {
    font-size: 2.5rem; }
  #getstarted {
    min-height: 400px; }
    #getstarted p {
      line-height: 30px;
      margin-top: 30px; } }
